* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(120deg,
            #3a2c0f,
            #8c6b1f,
            #d4af37,
            #3a2c0f);
    font-family: Arial, Helvetica, sans-serif;

    background-color: white;
}

h1 {
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 60px;
    margin-top: 90px;

    text-align: center;
    font-size: 48px;


}



.navbar {
    background-color: transparent;
}


.navbar .nav-link,
.navbar .navbar-brand,
.dropdown-item {
    color: white !important;
}


.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
    color: #d4af37 !important;
    /* optional: gold color on hover */
}

.navigation img {


    width: 360px;
    height: 240px;
    margin-top: -35px;
}

#navbarNavDropdown {
    margin-top: -35px;


    padding-right: 50px;
}

.nav-link.active {
    color: #d4af37 !important;
}






main {
    flex: 1;
}

.list-unstyled a {
    display: inline-block;

    color: white;
    /* normal color */
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}


.list-unstyled a:hover {
    color: #d4af37;

    text-shadow:
        0 0 3px #b8962e,
        0 0 6px #c9a227,
        0 0 12px #d4af37,
        0 0 20px #8c6b1f,
        0 0 30px #5c4715;

}

.navigation img {


    width: 360px;
    height: 240px;
    margin-top: -35px;
}

















.zero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./images/rangeofcars.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}



.zero-inmid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}

.zero-inmid h2 {
    font-size: 60px;

    margin-top: -120px;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    /* main text color */
    text-transform: uppercase;


    text-shadow:
        0 0 3px #b8962e,
        0 0 6px #c9a227,
        0 0 12px #d4af37,
        0 0 20px #8c6b1f,
        0 0 30px #5c4715;
}

.zero-inmid p {
    font-size: 20px;
    line-height: 1.8;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}



/* Glass box */
.glass-box {
    width: 600px;
    padding: 50px 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);


}

.glass-box h2 {
    margin-top: auto;
    margin-bottom: 50px;
}

.glass-box p {
    font-size: 14px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #27ae60;
}

.controls input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 299px;
    text-align: center;


}



.controls button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100px;


}

.controls select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 222px;

}


 .controls select:hover,.controls input:hover {
   background: #c7c5b2;
 }

#rangeofcars {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 340px;

    transition: all 0.4s ease;

}

.card:hover {
    box-shadow:
     0 0 10px #d4af37,
     0 0 20px #ffd700,
     0 0 30px #b8962e,
     0 0 40px #8c6b1f;


}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}



.card h2 {
    margin: 0 0 10px;
    color: #160702;
    text-transform: capitalize;
    font-family: serif;
}

.card p {
    margin: 6px 0;
    color: #555;
    font-size: 14px;
}

.category {
    font-weight: bold;
    color: #27ae60;
}


.qty {

    color: #6e0505;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 8px;
    text-transform: capitalize;
}

.detail {
    background-color: #eafaf1;
    color: #000000;
    width: 300px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;


}

.detail:hover {
    color: #c7c5b2;
    background-color: #000000;



}


.popup {
    background-color: #66aadd;
    border-radius: 12px;
    padding: 20px;
    width: 340px;

    transition: all 0.4s ease;

}

/* Modal background (dark blur effect) */
.modal {
    backdrop-filter: blur(6px);
}

/* Modal box */
.modal-content {
    border-radius: 15px;
    overflow: hidden;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    animation: popup 0.3s ease;
}

/* Animation */
@keyframes popup {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* pop-up k liye */

.modal-header {
   background: linear-gradient(45deg, #6a7104, #7b7106);

    color: white;
    border-bottom: none;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
}




/* Body layout */
.modal-body {
    padding: 20px;
}


#modalImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}


.modal-body p {
    margin: 8px 0;
    font-size: 15px;
}


#modalPrice {
    font-size: 20px;
    font-weight: bold;
    color: #27ae60;
}

#modalCategory {
    font-weight: bold;
    color: #bd0c0c;
}


.modal-footer {
    border-top: none;
}

.modal-footer .btn {
    background: black;
    color: white;
    border-radius: 8px;
}

.modal-footer .btn:hover {
     background: #939d0c;
}

.navbar-nav {
    text-transform: capitalize;
}

.controls input,
.controls select {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 390px;
    height: 50px;

    background: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);

    transition: 0.3s;
}

.controls input::placeholder {
    color: #000000;
}


 .controls input:focus,
 .controls select:focus {
   box-shadow: 0 0 10px rgb(195, 211, 14);
   background: rgba(255, 255, 255, 0.3);
 }


.controls button {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;


   background: linear-gradient(45deg, #adb22b, #a5932b);
    color: white;
    font-weight: bold;

    transition: 0.3s;
    display: flex;

    width: 140px;
    gap: 10px;
}

.controls button:hover {
    transform: scale(1.05);
   box-shadow: 0 0 10px rgb(99, 105, 30);
}

.btn-group-vertical {
    gap: 2px;
    margin-bottom: 20px;
}


.filter {
    margin-bottom: 5px;
}



#footer {

    background-color: #000000;
}

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        width: 90%;
    }

    .controls input,
    .controls select,
    .controls button {
        width: 100%;
    }
}